asgiref
certifi
charset-normalizer
dj-database-url
Django
django-cors-headers
django-phonenumber-field
djangorestframework
djangorestframework-simplejwt
gunicorn
idna
phonenumbers
Pillow
psycopg2-binary
PyJWT
pytz
requests
sqlparse
urllib3
whitenoise
